In [33]:
Nome: Micaelly Cristine de Moura Santos
Curso: Analise e Desenvolvimento de Sistemas 
Universidade: Centro Universitário Cidade Verde (UNIFCV)
Data Prevista: junho/2024
Semestre Atual: 1º semestre

SyntaxError: invalid syntax (Temp/ipykernel_7956/3252531949.py, line 1)

In [34]:
import pandas as pd

In [35]:
df = pd.read_fwf('pacotes.txt', widths=[3] * 5, names=['regiao_de_origem', 'regiao_de_destino', 'codigo_da_loggi', 'codigo_do_vendedor', 'tipo_do_produto'])
df.index = pd.Index(
    df.apply(lambda x: f"{x['regiao_de_origem']:03}{x['regiao_de_destino']:03}{x['codigo_da_loggi']:03}{x['codigo_do_vendedor']:03}{x['tipo_do_produto']:03}", axis=1), 
    name='pacote')
df.head()

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto
pacote,,,,,
288355555123888,288,355,555,123,888
335333555584333,335,333,555,584,333
223343555124001,223,343,555,124,1
002111555874555,2,111,555,874,555
111188555654777,111,188,555,654,777

In [36]:
df['valido'] = True
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido
pacote,,,,,,
288355555123888,288,355,555,123,888,True
335333555584333,335,333,555,584,333,True
223343555124001,223,343,555,124,1,True
002111555874555,2,111,555,874,555,True
111188555654777,111,188,555,654,777,True
111333555123333,111,333,555,123,333,True
432055555123888,432,55,555,123,888,True
079333555584333,79,333,555,584,333,True
155333555124001,155,333,555,124,1,True
333188555584333,333,188,555,584,333,True
555288555123001,555,288,555,123,1,True
111388555123555,111,388,555,123,555,True
288000555367333,288,0,555,367,333,True
066311555874001,66,311,555,874,1,True
110333555123555,110,333,555,123,555,True
333488555584333,333,488,555,584,333,True
455448555123001,455,448,555,123,1,True
022388555123555,22,388,555,123,555,True
432044555845333,432,44,555,845,333,True
034311555874001,34,311,555,874,1,True

Invalidando entregas de produto com tipo diferente dos fornecidos

In [7]:
codigos_de_produtos_validos = {1, 111, 333, 555, 888}
codigos_de_produtos_validos

{1, 111, 333, 555, 888}

In [8]:
df['valido'] &= df['tipo_do_produto'].isin(codigos_de_produtos_validos)
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido
pacote,,,,,,
288355555123888,288,355,555,123,888,True
335333555584333,335,333,555,584,333,True
223343555124001,223,343,555,124,1,True
002111555874555,2,111,555,874,555,True
111188555654777,111,188,555,654,777,False
111333555123333,111,333,555,123,333,True
432055555123888,432,55,555,123,888,True
079333555584333,79,333,555,584,333,True
155333555124001,155,333,555,124,1,True
333188555584333,333,188,555,584,333,True
555288555123001,555,288,555,123,1,True
111388555123555,111,388,555,123,555,True
288000555367333,288,0,555,367,333,True
066311555874001,66,311,555,874,1,True
110333555123555,110,333,555,123,555,True
333488555584333,333,488,555,584,333,True
455448555123001,455,448,555,123,1,True
022388555123555,22,388,555,123,555,True
432044555845333,432,44,555,845,333,True
034311555874001,34,311,555,874,1,True

Verificando se é jóia de origem no centro-oeste

In [9]:
codigo_joia = 1
codigos_centro_oeste = range(201, 300)

In [10]:
~((df['tipo_do_produto'] == codigo_joia) & (df['regiao_de_origem'].isin(codigos_centro_oeste)))

pacote
288355555123888     True
335333555584333     True
223343555124001    False
002111555874555     True
111188555654777     True
111333555123333     True
432055555123888     True
079333555584333     True
155333555124001     True
333188555584333     True
555288555123001     True
111388555123555     True
288000555367333     True
066311555874001     True
110333555123555     True
333488555584333     True
455448555123001     True
022388555123555     True
432044555845333     True
034311555874001     True
dtype: bool

In [11]:
df['valido'] &= ~((df['tipo_do_produto'] == codigo_joia) & (df['regiao_de_origem'].isin(codigos_centro_oeste)))
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido
pacote,,,,,,
288355555123888,288,355,555,123,888,True
335333555584333,335,333,555,584,333,True
223343555124001,223,343,555,124,1,False
002111555874555,2,111,555,874,555,True
111188555654777,111,188,555,654,777,False
111333555123333,111,333,555,123,333,True
432055555123888,432,55,555,123,888,True
079333555584333,79,333,555,584,333,True
155333555124001,155,333,555,124,1,True
333188555584333,333,188,555,584,333,True
555288555123001,555,288,555,123,1,True
111388555123555,111,388,555,123,555,True
288000555367333,288,0,555,367,333,True
066311555874001,66,311,555,874,1,True
110333555123555,110,333,555,123,555,True
333488555584333,333,488,555,584,333,True
455448555123001,455,448,555,123,1,True
022388555123555,22,388,555,123,555,True
432044555845333,432,44,555,845,333,True
034311555874001,34,311,555,874,1,True

O vendedor 367 está inativo, invalidando os pacotes dele

In [12]:
vendedor_inativo = 367

In [13]:
df['valido'] &= df['codigo_do_vendedor'] != vendedor_inativo
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido
pacote,,,,,,
288355555123888,288,355,555,123,888,True
335333555584333,335,333,555,584,333,True
223343555124001,223,343,555,124,1,False
002111555874555,2,111,555,874,555,True
111188555654777,111,188,555,654,777,False
111333555123333,111,333,555,123,333,True
432055555123888,432,55,555,123,888,True
079333555584333,79,333,555,584,333,True
155333555124001,155,333,555,124,1,True
333188555584333,333,188,555,584,333,True
555288555123001,555,288,555,123,1,True
111388555123555,111,388,555,123,555,True
288000555367333,288,0,555,367,333,False
066311555874001,66,311,555,874,1,True
110333555123555,110,333,555,123,555,True
333488555584333,333,488,555,584,333,True
455448555123001,455,448,555,123,1,True
022388555123555,22,388,555,123,555,True
432044555845333,432,44,555,845,333,True
034311555874001,34,311,555,874,1,True

In [14]:
def verifica_regiao(codigo_regiao):
    if codigo_regiao in range(201,300):
        return "Centro-oeste"
    elif codigo_regiao in range(300,400):
        return "Nordeste"
    elif codigo_regiao in range (400,500):
        return "Norte"
    elif codigo_regiao in range(1,100):
        return "Sudeste"
    elif codigo_regiao in range(100,200):
        return "Sul"
    else:
        return None
    
assert verifica_regiao(5) == 'Sudeste'
assert verifica_regiao(105) == 'Sul'
assert verifica_regiao(205) == 'Centro-oeste'
assert verifica_regiao(305) == 'Nordeste'
assert verifica_regiao(405) == 'Norte'
assert verifica_regiao(0) is None
print('Função ok')

Função ok

Removendo pacotes com códigos de origem e destino inválidos

In [15]:
df['nome_regiao_de_destino'] = df['regiao_de_destino'].apply(verifica_regiao)
df['nome_regiao_de_origem'] = df['regiao_de_origem'].apply(verifica_regiao)

df['valido'] &= df['nome_regiao_de_origem'].notnull() & df['nome_regiao_de_destino'].notnull()
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem
pacote,,,,,,,,
288355555123888,288,355,555,123,888,True,Nordeste,Centro-oeste
335333555584333,335,333,555,584,333,True,Nordeste,Nordeste
223343555124001,223,343,555,124,1,False,Nordeste,Centro-oeste
002111555874555,2,111,555,874,555,True,Sul,Sudeste
111188555654777,111,188,555,654,777,False,Sul,Sul
111333555123333,111,333,555,123,333,True,Nordeste,Sul
432055555123888,432,55,555,123,888,True,Sudeste,Norte
079333555584333,79,333,555,584,333,True,Nordeste,Sudeste
155333555124001,155,333,555,124,1,True,Nordeste,Sul
333188555584333,333,188,555,584,333,True,Sul,Nordeste
555288555123001,555,288,555,123,1,False,Centro-oeste,None
111388555123555,111,388,555,123,555,True,Nordeste,Sul
288000555367333,288,0,555,367,333,False,None,Centro-oeste
066311555874001,66,311,555,874,1,True,Nordeste,Sudeste
110333555123555,110,333,555,123,555,True,Nordeste,Sul
333488555584333,333,488,555,584,333,True,Norte,Nordeste
455448555123001,455,448,555,123,1,True,Norte,Norte
022388555123555,22,388,555,123,555,True,Nordeste,Sudeste
432044555845333,432,44,555,845,333,True,Sudeste,Norte
034311555874001,34,311,555,874,1,True,Nordeste,Sudeste

# Questão 1

> Identificar a região de destino de cada pacote, com totalização de
pacotes (soma região);

In [16]:
df.groupby('nome_regiao_de_destino').size()

nome_regiao_de_destino
Centro-oeste     1
Nordeste        11
Norte            2
Sudeste          2
Sul              3
dtype: int64

# Questão 2 
 > Saber quais pacotes possuem códigos de barras válidos e/ou
inválidos;

In [17]:
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem
pacote,,,,,,,,
288355555123888,288,355,555,123,888,True,Nordeste,Centro-oeste
335333555584333,335,333,555,584,333,True,Nordeste,Nordeste
223343555124001,223,343,555,124,1,False,Nordeste,Centro-oeste
002111555874555,2,111,555,874,555,True,Sul,Sudeste
111188555654777,111,188,555,654,777,False,Sul,Sul
111333555123333,111,333,555,123,333,True,Nordeste,Sul
432055555123888,432,55,555,123,888,True,Sudeste,Norte
079333555584333,79,333,555,584,333,True,Nordeste,Sudeste
155333555124001,155,333,555,124,1,True,Nordeste,Sul
333188555584333,333,188,555,584,333,True,Sul,Nordeste
555288555123001,555,288,555,123,1,False,Centro-oeste,None
111388555123555,111,388,555,123,555,True,Nordeste,Sul
288000555367333,288,0,555,367,333,False,None,Centro-oeste
066311555874001,66,311,555,874,1,True,Nordeste,Sudeste
110333555123555,110,333,555,123,555,True,Nordeste,Sul
333488555584333,333,488,555,584,333,True,Norte,Nordeste
455448555123001,455,448,555,123,1,True,Norte,Norte
022388555123555,22,388,555,123,555,True,Nordeste,Sudeste
432044555845333,432,44,555,845,333,True,Sudeste,Norte
034311555874001,34,311,555,874,1,True,Nordeste,Sudeste

# Questão 3
> Identificar os pacotes que têm como origem a região Sul e
Brinquedos em seu conteúdo;

In [18]:
codigo_sul = range(100, 200)
codigo_brinquedos = 888

In [19]:
df[(df['tipo_do_produto'] == codigo_brinquedos) & (df['regiao_de_origem'].isin(codigo_sul))]

Empty DataFrame
Columns: [regiao_de_origem, regiao_de_destino, codigo_da_loggi, codigo_do_vendedor, tipo_do_produto, valido, nome_regiao_de_destino, nome_regiao_de_origem]
Index: []

# Questão 4
> Listar os pacotes agrupados por região de destino (Considere apenas
pacotes válidos);

In [20]:
for (nome, produto) in df[df['valido']].groupby(['nome_regiao_de_destino']):
    print (nome)
    display(produto)

Nordeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem
pacote,,,,,,,,
288355555123888,288,355,555,123,888,True,Nordeste,Centro-oeste
335333555584333,335,333,555,584,333,True,Nordeste,Nordeste
111333555123333,111,333,555,123,333,True,Nordeste,Sul
079333555584333,79,333,555,584,333,True,Nordeste,Sudeste
155333555124001,155,333,555,124,1,True,Nordeste,Sul
111388555123555,111,388,555,123,555,True,Nordeste,Sul
066311555874001,66,311,555,874,1,True,Nordeste,Sudeste
110333555123555,110,333,555,123,555,True,Nordeste,Sul
022388555123555,22,388,555,123,555,True,Nordeste,Sudeste
034311555874001,34,311,555,874,1,True,Nordeste,Sudeste

Norte

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem
pacote,,,,,,,,
333488555584333,333,488,555,584,333,True,Norte,Nordeste
455448555123001,455,448,555,123,1,True,Norte,Norte

Sudeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem
pacote,,,,,,,,
432055555123888,432,55,555,123,888,True,Sudeste,Norte
432044555845333,432,44,555,845,333,True,Sudeste,Norte

Sul

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem
pacote,,,,,,,,
002111555874555,2,111,555,874,555,True,Sul,Sudeste
333188555584333,333,188,555,584,333,True,Sul,Nordeste

# Questão 5
> Listar o número de pacotes enviados por cada vendedor (Considere
apenas pacotes válidos);

In [21]:
df[df['valido']].groupby('codigo_do_vendedor').size()

codigo_do_vendedor
123    7
124    1
584    4
845    1
874    3
dtype: int64

# Questão 6
> Gerar o relatório/lista de pacotes por destino e por tipo (Considere
apenas pacotes válidos);

In [22]:
def verifica_tipo_do_produto(codigo_produto):
    if codigo_produto == 1 :
        return "joias"
    elif codigo_produto == 111:
        return "livros"
    elif codigo_produto == 333:
        return "eletronicos"
    elif codigo_produto == 555:
        return "bebidas"
    elif codigo_produto == 888:
        return "brinquedos"
    else:
        return None
    
assert verifica_tipo_do_produto(1) == 'joias'
assert verifica_tipo_do_produto(111) == 'livros'
assert verifica_tipo_do_produto(333) == 'eletronicos'
assert verifica_tipo_do_produto(555) == 'bebidas'
assert verifica_tipo_do_produto(888) == 'brinquedos'
assert verifica_tipo_do_produto(0) is None
print('Função ok')

Função ok

In [23]:
df['nome_tipo_do_produto'] = df['tipo_do_produto'].apply(verifica_tipo_do_produto)
df

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
288355555123888,288,355,555,123,888,True,Nordeste,Centro-oeste,brinquedos
335333555584333,335,333,555,584,333,True,Nordeste,Nordeste,eletronicos
223343555124001,223,343,555,124,1,False,Nordeste,Centro-oeste,joias
002111555874555,2,111,555,874,555,True,Sul,Sudeste,bebidas
111188555654777,111,188,555,654,777,False,Sul,Sul,None
111333555123333,111,333,555,123,333,True,Nordeste,Sul,eletronicos
432055555123888,432,55,555,123,888,True,Sudeste,Norte,brinquedos
079333555584333,79,333,555,584,333,True,Nordeste,Sudeste,eletronicos
155333555124001,155,333,555,124,1,True,Nordeste,Sul,joias
333188555584333,333,188,555,584,333,True,Sul,Nordeste,eletronicos
555288555123001,555,288,555,123,1,False,Centro-oeste,None,joias
111388555123555,111,388,555,123,555,True,Nordeste,Sul,bebidas
288000555367333,288,0,555,367,333,False,None,Centro-oeste,eletronicos
066311555874001,66,311,555,874,1,True,Nordeste,Sudeste,joias
110333555123555,110,333,555,123,555,True,Nordeste,Sul,bebidas
333488555584333,333,488,555,584,333,True,Norte,Nordeste,eletronicos
455448555123001,455,448,555,123,1,True,Norte,Norte,joias
022388555123555,22,388,555,123,555,True,Nordeste,Sudeste,bebidas
432044555845333,432,44,555,845,333,True,Sudeste,Norte,eletronicos
034311555874001,34,311,555,874,1,True,Nordeste,Sudeste,joias

In [24]:
for (nome, produto) in df[df['valido']].groupby([ 'nome_tipo_do_produto','nome_regiao_de_destino']):
    print (' %s que partem do %s '% (nome))
    display(produto)

 bebidas que partem do Nordeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
111388555123555,111,388,555,123,555,True,Nordeste,Sul,bebidas
110333555123555,110,333,555,123,555,True,Nordeste,Sul,bebidas
022388555123555,22,388,555,123,555,True,Nordeste,Sudeste,bebidas

 bebidas que partem do Sul

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
002111555874555,2,111,555,874,555,True,Sul,Sudeste,bebidas

 brinquedos que partem do Nordeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
288355555123888,288,355,555,123,888,True,Nordeste,Centro-oeste,brinquedos

 brinquedos que partem do Sudeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
432055555123888,432,55,555,123,888,True,Sudeste,Norte,brinquedos

 eletronicos que partem do Nordeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
335333555584333,335,333,555,584,333,True,Nordeste,Nordeste,eletronicos
111333555123333,111,333,555,123,333,True,Nordeste,Sul,eletronicos
079333555584333,79,333,555,584,333,True,Nordeste,Sudeste,eletronicos

 eletronicos que partem do Norte

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
333488555584333,333,488,555,584,333,True,Norte,Nordeste,eletronicos

 eletronicos que partem do Sudeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
432044555845333,432,44,555,845,333,True,Sudeste,Norte,eletronicos

 eletronicos que partem do Sul

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
333188555584333,333,188,555,584,333,True,Sul,Nordeste,eletronicos

 joias que partem do Nordeste

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
155333555124001,155,333,555,124,1,True,Nordeste,Sul,joias
066311555874001,66,311,555,874,1,True,Nordeste,Sudeste,joias
034311555874001,34,311,555,874,1,True,Nordeste,Sudeste,joias

 joias que partem do Norte

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto
pacote,,,,,,,,,
455448555123001,455,448,555,123,1,True,Norte,Norte,joias

# Questão 7
> Se o transporte dos pacotes para o Norte passa pela Região
Centro-Oeste, quais são os pacotes que devem ser despachados no
mesmo caminhão?

Considerando que os pacotes enviados serão somente pacotes válidos, e que todos já estão numa central de distribuição nacional, mesmo que seja para a mesma região de origem

In [25]:
df[df['valido']].groupby(['nome_regiao_de_destino']).size()

nome_regiao_de_destino
Nordeste    10
Norte        2
Sudeste      2
Sul          2
dtype: int64

In [26]:
df['caminhão'] = df.apply(
    lambda x: "Norte" 
        if x['nome_regiao_de_destino'] == 'Centro-oeste' 
        and (df['nome_regiao_de_destino'] == 'Norte').sum() > 0 
    else x['nome_regiao_de_destino'], axis=1)
df[df['valido']]

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto,caminhão
pacote,,,,,,,,,,
288355555123888,288,355,555,123,888,True,Nordeste,Centro-oeste,brinquedos,Nordeste
335333555584333,335,333,555,584,333,True,Nordeste,Nordeste,eletronicos,Nordeste
002111555874555,2,111,555,874,555,True,Sul,Sudeste,bebidas,Sul
111333555123333,111,333,555,123,333,True,Nordeste,Sul,eletronicos,Nordeste
432055555123888,432,55,555,123,888,True,Sudeste,Norte,brinquedos,Sudeste
079333555584333,79,333,555,584,333,True,Nordeste,Sudeste,eletronicos,Nordeste
155333555124001,155,333,555,124,1,True,Nordeste,Sul,joias,Nordeste
333188555584333,333,188,555,584,333,True,Sul,Nordeste,eletronicos,Sul
111388555123555,111,388,555,123,555,True,Nordeste,Sul,bebidas,Nordeste
066311555874001,66,311,555,874,1,True,Nordeste,Sudeste,joias,Nordeste
110333555123555,110,333,555,123,555,True,Nordeste,Sul,bebidas,Nordeste
333488555584333,333,488,555,584,333,True,Norte,Nordeste,eletronicos,Norte
455448555123001,455,448,555,123,1,True,Norte,Norte,joias,Norte
022388555123555,22,388,555,123,555,True,Nordeste,Sudeste,bebidas,Nordeste
432044555845333,432,44,555,845,333,True,Sudeste,Norte,eletronicos,Sudeste
034311555874001,34,311,555,874,1,True,Nordeste,Sudeste,joias,Nordeste

# Questão 8
> Se todos os pacotes fossem uma fila qual seria a ordem de carga
para o Norte no caminhão para descarregar os pacotes da Região
Centro Oeste primeiro;

In [27]:
df[df['caminhão'] == 'Norte'].sort_values(
    by='regiao_de_destino', ascending=False)

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto,caminhão
pacote,,,,,,,,,,
333488555584333,333,488,555,584,333,True,Norte,Nordeste,eletronicos,Norte
455448555123001,455,448,555,123,1,True,Norte,Norte,joias,Norte
555288555123001,555,288,555,123,1,False,Centro-oeste,None,joias,Norte

# Questão 9
> No item acima considerar que as jóias fossem sempre as primeiras a
serem descarregadas;

In [28]:
df['prioridade'] = 0
df.loc[df['tipo_do_produto'] == 'Joia', 'prioridade'] = 1

In [29]:
df[df['caminhão'] == 'Norte'].sort_values(
    by=['nome_regiao_de_destino', 'prioridade'], ascending=False)

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto,caminhão,prioridade
pacote,,,,,,,,,,,
333488555584333,333,488,555,584,333,True,Norte,Nordeste,eletronicos,Norte,0
455448555123001,455,448,555,123,1,True,Norte,Norte,joias,Norte,0
555288555123001,555,288,555,123,1,False,Centro-oeste,None,joias,Norte,0

# Questão 10
>Listar os pacotes inválidos.

In [30]:
df[~df['valido']]

,regiao_de_origem,regiao_de_destino,codigo_da_loggi,codigo_do_vendedor,tipo_do_produto,valido,nome_regiao_de_destino,nome_regiao_de_origem,nome_tipo_do_produto,caminhão,prioridade
pacote,,,,,,,,,,,
223343555124001,223,343,555,124,1,False,Nordeste,Centro-oeste,joias,Nordeste,0
111188555654777,111,188,555,654,777,False,Sul,Sul,None,Sul,0
555288555123001,555,288,555,123,1,False,Centro-oeste,None,joias,Norte,0
288000555367333,288,0,555,367,333,False,None,Centro-oeste,eletronicos,None,0